.text {
    font-weight: 800;
}

.search-button {
    background-color: salmon;
    color: seashell;
}

.search-button:hover {
    background-color: salmon;
    color: whitesmoke;
}

.input-field {
    margin-left: 350px;
    margin-right: 350px;
}

.meal {
    border: 3px solid gray;
}

.meal img {
    width: 200px;
    height: 200px;
}

.meal img:hover {
    cursor: pointer;
}

.show-item-food {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    margin-left: 75px;
    text-align: center;
}

.meal-name {
    padding: 20px;
}

.random-details img {
    width: 480px;
    height: 350px;
}

.random-details {
    margin: 20px 400px 5px 412px;
    border: 2px solid orange;
    align-items: center;
}

.ingredients-details {
    margin-left: 20px;
    margin-top: 10px;
}

.error-msg {
    display: block;
    color: orangered;
    text-align: center;
    margin-bottom: 100px;
}

.search-result {
    margin-left: 77px;
    margin-bottom: 30px;
}